.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events:painted;
}
p{
font-size: 18px;
color:deepskyblue;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}
 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.card-menu
  {
    margin-top: 70px;
  }
  .create-menu
  {
    margin: 140px;
    width: 2000px;
    height: 800px;
  }
   
span{
  background-color:burlywood;
  padding: 5px;
  display:inline-block;
  margin:19px;
  color:midnightblue;
}
.list-wrapper
{
 
width: 1510px;
margin: auto;
}
.Nav-Link
{
  padding-left: 90px;
} 
  
.App-link {
  color:whitesmoke;
}
.mr-auto
{
     font-size:20px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
